/* Styling the main component */
.main {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
}

/* Styling the headings */
.headings {
    margin-top: 15px;
    font-weight: bold;
    padding-bottom: 10px;
}

/* Aliging the icons and the headings */
.section-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Styling the icons to the appropriate size */
.icons {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
}