/* Importing a font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Adding a global font to all elements */
body {
  font-family: "Poppins", sans-serif;
}

/* Styling the nav conatiner and width */
.nav-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

/* Styling the CV name */
.name {
  font-weight: bold;
  font-style: italic;
}